uFormEditor/App_Data/TEMP/
uFormEditor/App_Data/NuGetBackup/20160730-214142/Config/Lang/ja-JP.user.xml
uFormEditor/App_Data/NuGetBackup/20160730-214142/Config/Lang/nb-NO.user.xml
uFormEditor/App_Data/NuGetBackup/
uFormEditor/App_Data/
uFormEditor/Umbraco/Views/
uFormEditor/Umbraco/Users/
uFormEditor/Umbraco/
packages/
uFormEditor/Umbraco_Client/
uFormEditor/Views/
.vs/config/applicationhost.config
FormTest/FormTest.csproj
FormTest/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FormTest/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FormTest/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FormTest/obj/x64/Debug/build.force
FormTest/web.Debug.config
FormTest/web.Release.config
FormTest/web.config
UmbracoFromTest.sln
uFormEditor/App_Browsers/Form.browser
uFormEditor/App_Browsers/w3cvalidator.browser
uFormEditor/App_Plugins/Archetype/assets/logo_50.png
uFormEditor/App_Plugins/Archetype/assets/twitter.png
uFormEditor/App_Plugins/Archetype/css/archetype.css
uFormEditor/App_Plugins/Archetype/js/archetype.js
uFormEditor/App_Plugins/Archetype/langs/da-dk.js
uFormEditor/App_Plugins/Archetype/langs/da.js
uFormEditor/App_Plugins/Archetype/langs/de-de.js
uFormEditor/App_Plugins/Archetype/langs/de.js
uFormEditor/App_Plugins/Archetype/langs/en-gb.js
uFormEditor/App_Plugins/Archetype/langs/en-us.js
uFormEditor/App_Plugins/Archetype/langs/en.js
uFormEditor/App_Plugins/Archetype/langs/es-es.js
uFormEditor/App_Plugins/Archetype/langs/es.js
uFormEditor/App_Plugins/Archetype/langs/fr-fr.js
uFormEditor/App_Plugins/Archetype/langs/he-il.js
uFormEditor/App_Plugins/Archetype/langs/it-it.js
uFormEditor/App_Plugins/Archetype/langs/ja-jp.js
uFormEditor/App_Plugins/Archetype/langs/ko-kr.js
uFormEditor/App_Plugins/Archetype/langs/nb-no.js
uFormEditor/App_Plugins/Archetype/langs/nl-nl.js
uFormEditor/App_Plugins/Archetype/langs/pl-pl.js
uFormEditor/App_Plugins/Archetype/langs/pt-br.js
uFormEditor/App_Plugins/Archetype/langs/ru-ru.js
uFormEditor/App_Plugins/Archetype/langs/sv-se.js
uFormEditor/App_Plugins/Archetype/langs/zh-cn.js
uFormEditor/App_Plugins/Archetype/views/archetype.config.developer.dialog.html
uFormEditor/App_Plugins/Archetype/views/archetype.config.fieldset.dialog.html
uFormEditor/App_Plugins/Archetype/views/archetype.config.html
uFormEditor/App_Plugins/Archetype/views/archetype.config.stylescript.dialog.html
uFormEditor/App_Plugins/Archetype/views/archetype.default.html
uFormEditor/App_Plugins/Archetype/views/archetype.html
uFormEditor/App_Plugins/FormEditor/config/disallowedFieldTypes.html
uFormEditor/App_Plugins/FormEditor/config/emailTemplates.html
uFormEditor/App_Plugins/FormEditor/config/fieldTypeGroups.html
uFormEditor/App_Plugins/FormEditor/config/rowLayouts.html
uFormEditor/App_Plugins/FormEditor/css/form.css
uFormEditor/App_Plugins/FormEditor/editor/conditions/core.fieldisempty.html
uFormEditor/App_Plugins/FormEditor/editor/conditions/core.fieldisempty.png
uFormEditor/App_Plugins/FormEditor/editor/conditions/core.fieldisnotempty.html
uFormEditor/App_Plugins/FormEditor/editor/conditions/core.fieldvalueis.html
uFormEditor/App_Plugins/FormEditor/editor/conditions/core.fieldvalueis.png
uFormEditor/App_Plugins/FormEditor/editor/conditions/core.fieldvalueisnot.html
uFormEditor/App_Plugins/FormEditor/editor/conditions/core.fieldvaluesdonotmatch.html
uFormEditor/App_Plugins/FormEditor/editor/conditions/core.fieldvaluesdonotmatch.png
uFormEditor/App_Plugins/FormEditor/editor/conditions/core.fieldvaluesmatch.html
uFormEditor/App_Plugins/FormEditor/editor/data.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.checkbox.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.checkbox.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.checkboxgroup.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.checkboxgroup.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.customfield.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.date.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.date.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.dropdown.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.dropdown.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.email.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.email.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.heading.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.heading.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.image.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.image.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.link.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.link.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.memberinfo.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.memberinfo.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.number.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.number.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.radiobuttongroup.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.radiobuttongroup.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.recaptcha.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.recaptcha.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.selectbox.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.selectbox.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.submitbutton.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.submitbutton.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.telephone.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.telephone.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.textParagraph.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.textParagraph.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.textarea.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.textarea.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.textbox.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.textbox.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.upload.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.upload.png
uFormEditor/App_Plugins/FormEditor/editor/fields/core.url.html
uFormEditor/App_Plugins/FormEditor/editor/fields/core.url.png
uFormEditor/App_Plugins/FormEditor/editor/form.html
uFormEditor/App_Plugins/FormEditor/editor/rows/core.column-1.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.column-2.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.column-3.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.column-4.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.one-column.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.three-column-wide-left.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.three-column-wide-right.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.three-column.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.two-column-wide-left.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.two-column-wide-right.png
uFormEditor/App_Plugins/FormEditor/editor/rows/core.two-column.png
uFormEditor/App_Plugins/FormEditor/js/form.js
uFormEditor/App_Plugins/FormEditor/js/form.js.map
uFormEditor/App_Plugins/FormEditor/js/langs/da-dk.js
uFormEditor/App_Plugins/FormEditor/js/langs/de-de.js
uFormEditor/App_Plugins/FormEditor/js/langs/en-gb.js
uFormEditor/App_Plugins/FormEditor/js/langs/en-us.js
uFormEditor/App_Plugins/FormEditor/js/langs/es-es.js
uFormEditor/App_Plugins/FormEditor/js/langs/fr-fr.js
uFormEditor/App_Plugins/FormEditor/js/langs/he-il.js
uFormEditor/App_Plugins/FormEditor/js/langs/it-it.js
uFormEditor/App_Plugins/FormEditor/js/langs/ja-jp.js
uFormEditor/App_Plugins/FormEditor/js/langs/ko-kr.js
uFormEditor/App_Plugins/FormEditor/js/langs/nb-no.js
uFormEditor/App_Plugins/FormEditor/js/langs/nl-nl.js
uFormEditor/App_Plugins/FormEditor/js/langs/pl-pl.js
uFormEditor/App_Plugins/FormEditor/js/langs/pt-br.js
uFormEditor/App_Plugins/FormEditor/js/langs/ru-ru.js
uFormEditor/App_Plugins/FormEditor/js/langs/sv-se.js
uFormEditor/App_Plugins/FormEditor/js/langs/zh-cn.js
uFormEditor/App_Plugins/FormEditor/package.manifest
uFormEditor/App_Plugins/Grid/Config/FanoeConfig.txt
uFormEditor/App_Plugins/Grid/Editors/Render/embed_videowrapper.cshtml
uFormEditor/App_Plugins/Grid/Editors/Render/media_round.cshtml
uFormEditor/App_Plugins/Grid/Editors/Render/media_text_right.cshtml
uFormEditor/App_Plugins/Grid/Editors/Render/media_wide.cshtml
uFormEditor/App_Plugins/Grid/Editors/Render/quote_with_description.cshtml
uFormEditor/App_Plugins/Grid/Editors/Views/media_with_description.html
uFormEditor/App_Plugins/Grid/Editors/Views/quote_with_description.html
uFormEditor/App_Plugins/ModelsBuilder/modelsbuilder.controller.js
uFormEditor/App_Plugins/ModelsBuilder/modelsbuilder.htm
uFormEditor/App_Plugins/ModelsBuilder/modelsbuilder.resource.js
uFormEditor/App_Plugins/ModelsBuilder/package.manifest
uFormEditor/ApplicationInsights.config
uFormEditor/Config/404handlers.config
uFormEditor/Config/BaseRestExtensions.config
uFormEditor/Config/ClientDependency.config
uFormEditor/Config/Dashboard.config
uFormEditor/Config/EmbeddedMedia.config
uFormEditor/Config/ExamineIndex.config
uFormEditor/Config/ExamineSettings.config
uFormEditor/Config/FileSystemProviders.config
uFormEditor/Config/FormEditor.config
uFormEditor/Config/Lang/cs-CZ.user.xml
uFormEditor/Config/Lang/da-DK.user.xml
uFormEditor/Config/Lang/de-DE.user.xml
uFormEditor/Config/Lang/en-GB.user.xml
uFormEditor/Config/Lang/en-US.user.xml
uFormEditor/Config/Lang/es-ES.user.xml
uFormEditor/Config/Lang/fr-FR.user.xml
uFormEditor/Config/Lang/he-IL.user.xml
uFormEditor/Config/Lang/it-IT.user.xml
uFormEditor/Config/Lang/ja-JP.user.xml
uFormEditor/Config/Lang/ko-KR.user.xml
uFormEditor/Config/Lang/nb-NO.user.xml
uFormEditor/Config/Lang/nl-NL.user.xml
uFormEditor/Config/Lang/pl-PL.user.xml
uFormEditor/Config/Lang/pt-BR.user.xml
uFormEditor/Config/Lang/ru-RU.user.xml
uFormEditor/Config/Lang/sv-SE.user.xml
uFormEditor/Config/Lang/zh-CN.user.xml
uFormEditor/Config/UrlRewriting.config
uFormEditor/Config/applications.config
uFormEditor/Config/feedProxy.config
uFormEditor/Config/grid.editors.config.js
uFormEditor/Config/log4net.config
uFormEditor/Config/metablogConfig.config
uFormEditor/Config/scripting.config
uFormEditor/Config/splashes/booting.aspx
uFormEditor/Config/splashes/noNodes.aspx
uFormEditor/Config/tinyMceConfig.config
uFormEditor/Config/trees.config
uFormEditor/Config/umbracoSettings.config
uFormEditor/Global.asax
uFormEditor/Properties/AssemblyInfo.cs
uFormEditor/Web.Debug.config
uFormEditor/Web.Release.config
uFormEditor/Web.config
uFormEditor/bin/ApplicationInsights.config
uFormEditor/bin/AutoMapper.xml
uFormEditor/bin/HtmlAgilityPack.xml
uFormEditor/bin/Lucene.Net.xml
uFormEditor/bin/Microsoft.AI.DependencyCollector.xml
uFormEditor/bin/Microsoft.AI.ServerTelemetryChannel.xml
uFormEditor/bin/Microsoft.AI.Web.xml
uFormEditor/bin/Microsoft.AI.WindowsServer.xml
uFormEditor/bin/Microsoft.ApplicationInsights.xml
uFormEditor/bin/Microsoft.AspNet.Identity.Core.xml
uFormEditor/bin/Microsoft.AspNet.Identity.Owin.xml
uFormEditor/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
uFormEditor/bin/Microsoft.Owin.Host.SystemWeb.xml
uFormEditor/bin/Microsoft.Owin.Security.Cookies.xml
uFormEditor/bin/Microsoft.Owin.Security.OAuth.xml
uFormEditor/bin/Microsoft.Owin.Security.xml
uFormEditor/bin/Microsoft.Owin.xml
uFormEditor/bin/MiniProfiler.xml
uFormEditor/bin/Newtonsoft.Json.xml
uFormEditor/bin/SQLCE4Umbraco.xml
uFormEditor/bin/System.Net.Http.Formatting.xml
uFormEditor/bin/System.Web.Helpers.xml
uFormEditor/bin/System.Web.Http.WebHost.xml
uFormEditor/bin/System.Web.Http.xml
uFormEditor/bin/System.Web.Mvc.xml
uFormEditor/bin/System.Web.Razor.xml
uFormEditor/bin/System.Web.WebPages.Deployment.xml
uFormEditor/bin/System.Web.WebPages.Razor.xml
uFormEditor/bin/System.Web.WebPages.xml
uFormEditor/bin/Umbraco.Core.xml
uFormEditor/bin/Umbraco.Web.UI.xml
uFormEditor/bin/UmbracoExamine.xml
uFormEditor/bin/amd64/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest
uFormEditor/bin/amd64/Microsoft.VC90.CRT/README_ENU.txt
uFormEditor/bin/businesslogic.xml
uFormEditor/bin/cms.xml
uFormEditor/bin/controls.xml
uFormEditor/bin/interfaces.xml
uFormEditor/bin/roslyn/Microsoft.CSharp.Core.targets
uFormEditor/bin/roslyn/Microsoft.VisualBasic.Core.targets
uFormEditor/bin/roslyn/VBCSCompiler.exe.config
uFormEditor/bin/uFormEditor.dll.config
uFormEditor/bin/umbraco.DataLayer.xml
uFormEditor/bin/umbraco.MacroEngines.xml
uFormEditor/bin/umbraco.editorControls.xml
uFormEditor/bin/umbraco.providers.xml
uFormEditor/bin/umbraco.xml
uFormEditor/bin/x86/Microsoft.VC90.CRT/Microsoft.VC90.CRT.manifest
uFormEditor/bin/x86/Microsoft.VC90.CRT/README_ENU.txt
uFormEditor/css/bootstrap.min.css
uFormEditor/css/fanoe.css
uFormEditor/css/rte.css
uFormEditor/css/style.css
uFormEditor/default.aspx
uFormEditor/js/FormEditor/FormEditorAsync.js
uFormEditor/js/FormEditor/FormEditorSync.js
uFormEditor/js/bootstrap.min.js
uFormEditor/js/jquery.min.js
uFormEditor/media/1012/fanoe-denmark.jpg
uFormEditor/media/1013/9027510123_92a91b5cf4_b_dark.jpg
uFormEditor/media/1014/9017002308_81dfd2c1d5_b_dark.jpg
uFormEditor/media/1015/14257753719_2c02b94030_h.jpg
uFormEditor/media/1016/14435759945_a2c58e9ed6_h.jpg
uFormEditor/media/1017/14359779226_df7329d607_h_dark.jpg
uFormEditor/media/1018/10818851674_e375a8751e_b.jpg
uFormEditor/media/1022/9686845888_e2d216ce81_b_dark_small.jpg
uFormEditor/media/1023/form-bg.png
uFormEditor/media/1024/14448232381_8f994d2adc_h_dark.jpg
uFormEditor/media/1027/14434411872_8e663d6de0_h.jpg
uFormEditor/media/1028/14435732345_c9f5b48dfa_h_dark.jpg
uFormEditor/media/1031/9026528992_d38fbc2e28_o_dark.jpg
uFormEditor/media/1032/9039247947_e15a9d8850_b.jpg
uFormEditor/media/1033/whole-earth-catalog.jpg
uFormEditor/media/1036/1912289_753997844648209_7099291360101379579_o.jpg
uFormEditor/media/1037/9015601712_72e44263e4_b.jpg
uFormEditor/media/1038/screen-shot-2014-12-01-at-121327.png
uFormEditor/media/1042/logo.jpg
uFormEditor/media/1044/14441035391_7ee1d0d166_h_darken.jpg
uFormEditor/media/1046/14386124825_d43f359900_h_cropped.jpg
uFormEditor/media/1047/9027509991_ff12bd87e4_b_small_cropped.jpg
uFormEditor/media/1048/sharingiscaring_cropped.jpg
uFormEditor/media/1049/9027510123_92a91b5cf4_b_dark.jpg
uFormEditor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
uFormEditor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
uFormEditor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
uFormEditor/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
uFormEditor/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
uFormEditor/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
uFormEditor/obj/x64/Debug/uFormEditor.csproj.FileListAbsolute.txt
uFormEditor/packages.config
uFormEditor/scripts/ai.0.15.0-build58334.js
uFormEditor/scripts/ai.0.15.0-build58334.min.js
uFormEditor/scripts/fanoe.js
uFormEditor/uFormEditor.csproj
FormEditor.Actions/bin/
FormEditor.Actions/App_Data/
FormEditor.Actions/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FormEditor.Actions/obj/
*.nupkg
